%table.pure-table.pure-table-bordered.pure-table-striped.full-size-table
  - if object.summary_header
    %thead
      %tr
        - object.summary_header.each do |header|
          %th= header
  - if object.summaries
    - object.summaries.each do |row|
      %tr
        - row.each do |cell|
          - if cell.kind_of?(Hash)
            - value = cell["value"]
            - klass = cell["klass"]
            - subvalue = cell["subvalue"]
          - else
            - value = cell
            - klass = ""
            - subvalue = nil
          %td{class: klass}
            = value
            - if subvalue
              .subvalue= subvalue
  - else
    %p No data

- if details
  %p Details
  %table.pure-table.pure-table-bordered.pure-table-striped.full-size-table
    - if object.detail_header
      %thead
        %tr
          - object.detail_header.each do |header|
            %th= header
    - if object.details
      - object.details.each do |row|
        %tr
          - row.each do |cell|
            - if cell.kind_of?(Hash)
              - value = cell["value"]
              - klass = cell["klass"]
              - subvalue = cell["subvalue"]
            - else
              - value = cell
              - klass = ""
              - subvalue = nil
            %td{class: klass}
              = value
              - if subvalue
                .subvalue= subvalue
    - else
      %p No data