- puts object.inspect
- if object.kind_of? Hash and object["_value"].nil? and object["_options"].nil?
  - object.keys.each do |key|
    .pure-g-r
      .pure-u-2-5
        = key
      .pure-u-3-5
        = render("dashboard/_object", layout: false, locals: {object: object[key]} )
  %br
- elsif object.kind_of? Array
  - object.each do |obj|
    = render("dashboard/_object", layout: false, locals: {object: obj} )
- else
  .pure-g-r
    .pure-u-1.final-value
      - if object.kind_of?(Hash) and not object["_value"].nil?
        - value = object["_value"]
        - css_klass = object["_options"]["klass"]
      - else
        - value = object
        - css_klass = ""
      %strong{class: css_klass}
        - if value.kind_of?(Time)
          = l(value, format: :short)
        - else
          = value
