- if object.kind_of? Hash
  - object.keys.each do |key|
    .pure-g-r
      .pure-u-2-5
        = key
      .pure-u-3-5
        = render("dashboard/_object", layout: false, locals: {object: object[key]} )
  %br
- elsif object.kind_of? Array
  - object.each do |obj|
    = render("dashboard/_object", layout: false, locals: {object: obj} )
- else
  .pure-g-r
    .pure-u-1.final-value
      %strong
        - if object.kind_of?(Time)
          = l(object, format: :short)
        - else
          = object
